.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 312px;
    width: 100%;
    background-color: #141317;
    padding: 24px;
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #fff;
    font-size: 36px;
    font-family: 700;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 268px;
    width: 100%;
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.playlists {
    height: 260px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 12px 0px 12px 0px;  
}

.playlists::-webkit-scrollbar {
    display: none;
}

.playlists {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

@media (max-width:1024px){
    .main{
        display: none;
    }
}