.table :global .ant-table-tbody .ant-table-cell {
    background-color: #0D0D0D;
    color: #FFFFFF;
    border: none;
}


.table :global .ant-table-cell-row-hover {
    background: #0D0D0D !important;
}

.table :global .ant-table-thead .ant-table-cell {
    background-color: #0D0D0D;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    border: none;
}

.table :global(.ant-table-wrapper),
.table :global(.ant-table),
.table :global(.ant-table-container),
.table :global(.ant-table-thead > tr > th),
.table :global(.ant-table-tbody > tr > td),
.table :global(.ant-table-header),
.table :global(.ant-table-body),
.table :global(.ant-table-content) {
    border-radius: 0 !important;
}

.table :global(.ant-table-wrapper .ant-table-thead > tr:first-child > th:first-child),
.table :global(.ant-table-wrapper .ant-table-thead > tr:first-child > th:last-child),
.table :global(.ant-table-wrapper .ant-table-tbody > tr:first-child > td:first-child),
.table :global(.ant-table-wrapper .ant-table-tbody > tr:first-child > td:last-child) {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

}

.table :global(.ant-table-wrapper .ant-table-tbody > tr:last-child > td:first-child),
.table :global(.ant-table-wrapper .ant-table-tbody > tr:last-child > td:last-child) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.table :global {
    .ant-table {
        border: none !important;
    }

    .ant-table-container,
    .ant-table-content,
    .ant-table-header,
    .ant-table-body,
    .ant-table-wrapper,
    .ant-table-footer {
        border: none !important;
    }

    .ant-table-thead>tr>th {
        border: none !important;
    }

    .ant-table-tbody>tr>td {
        border: none !important;
    }


    .ant-table-tbody>tr>td:first-child,
    .ant-table-tbody>tr>td:last-child,
    .ant-table-thead>tr>th:first-child,
    .ant-table-thead>tr>th:last-child {
        border-left: none !important;
        border-right: none !important;
        font-size: 32px;
        font-weight: 500;
        padding: 0 16px 24px 16px;

    }

    .ant-table-thead>tr>th,
    .ant-table-tbody>tr>td {
        border-bottom: none !important;
    }

    .ant-table,
    .ant-table-container,
    .ant-table-content,
    .ant-table-header,
    .ant-table-body,
    .ant-table-wrapper,
    .ant-table-footer {
        box-shadow: none !important;
    }

    .ant-table-wrapper .ant-table-tbody>tr>td {
        transition: none;
        border-bottom: 1px solid #0D0D0D;
        background: #0D0D0D;
    }
}

.table :global .ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    border: none !important;
    background-color: #0D0D0D !important;

}

.table :global .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: #0D0D0D !important;
} 

@media (max-width:1024px) {

    .ant-table-tbody>tr>td:first-child,
    .ant-table-tbody>tr>td:last-child,
    .ant-table-thead>tr>th:first-child,
    .ant-table-thead>tr>th:last-child {
        font-size: 24px;
    }
}

@media (max-width:768px) {

    .table :global .ant-table-thead .ant-table-cell {
        display: none;
    }

    .ant-table-tbody>tr>td:first-child,
    .ant-table-tbody>tr>td:last-child,
    .ant-table-thead>tr>th:first-child,
    .ant-table-thead>tr>th:last-child {
        font-size: 20px;
        font-weight: 400;
    }
}

.table{
    margin-bottom: 60px;
}

.table :global .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color:  #0D0D0D ;
}