
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 24px;
  padding: 24px;
}

.albumWrapper {
  display: flex;
  max-width: 1500px;
  width: 100%;
  gap: 24px;
  flex-wrap: wrap;
}
