@import "../../../styles/globalColors/color.scss";

.subtitle {
  color: $lighter;
  text-align: start;
}

.mediumSubtitle {
  font-size: 20px;
  font-weight: 400;
}

.largeSubtitle {
  font-size: 24px;
  font-weight: 400;
}
.smallTitle {
  font-size: 18px;
  font-weight: 500px;
}

.trimerButton {
  font-size: 20px;
  font-weight: 500;
  color: #3b8c75;
  background-color: transparent;
  width: 100px;
  cursor: pointer;
}

.bio {
  width: 400px;
  height: 100px;
  text-align: justify;
  font-size: 18px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .mediumSubtitle {
    font-size: 12px;
    font-weight: 400;
  }

  .largeSubtitle {
    font-size: 16px;
    font-weight: 400;
  }

  .smallTitle {
    font-size: 12px;
    font-weight: 500px;
  }
}

@media (max-width: 1024px) {
  .mediumSubtitle {
    font-size: 16px;
    font-weight: 400;
  }

  .largeSubtitle {
    font-size: 24px;
    font-weight: 400;
  }

  .smallTitle {
    font-size: 10px;
    font-weight: 500px;
  }
}
