.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
  }
  
  .header {
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 24px;
    text-align: center;
  }

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    padding-top: 60px;
  }
  
  @media (max-width: 1024px) {
    .header {
      font-size: 24px;
      font-weight: 500;
    }
  }
  
  @media (max-width: 1024px) {
    .hader {
      font-size: 20px;
    }
  }