.main {    
    padding: 40px 24px;
}

.text {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}