@import'../../styles/GlobalColors/color.scss';
@import '../../styles/GlobalBorders/borders.scss';



.input {
    width: 100%;
    max-width: 616px;
    height: 56px;
    border-radius: $medium;
    border: 1px solid $dark1;
    padding: 15px;
}

.input:focus{
   border: 1px solid $mainColor;
    outline: none;
   
}

.input:disabled{
   border: 1px solid $error;
   cursor: not-allowed;
}
@media(max-width:1024px) {
    .input{
        max-width: 488px;
    }
}

@media(max-width:768px){
    .input{
        max-width:361px ;
    }
}