@import '../../../styles/GlobalBorders/borders.scss';
@import '../../../styles/GlobalColors/color.scss';

.dropdownContent {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-size: 24px;
}
.lable {
    display: flex;
    gap: $small;
    cursor: pointer;
}

@media (max-width:768px){
    .dropdownContent{
        font-size: 20px;
    }
}