@import '../../../styles/GlobalBorders/borders.scss';
@import '../../../styles/GlobalColors/colors.scss';

.dropdownContent {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-size: 24px;
}
.lable {
    display: flex;
    gap: $small;
    cursor: pointer;
}