.main {
    display: flex;
    flex-direction: column;
}

.container {
    padding-left: 24px;
    padding-right: 24px;

}

.alert {
    color:#fff;
    font-size: 20px;
    font-weight: 400;
}

.playlistHeader {
    padding-bottom: 40px;
}
