.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 60px 24px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    gap: 24px;
}

@media (min-width:1920px){
    .cards{
      grid-template-columns: repeat(10,1fr);
  
    }
  }
  
  @media (min-width:1600px)  and (max-width:1920px){
    .cards{
      grid-template-columns:repeat(9,1fr);  
    }
  }

@media (max-width:1024px) {
    .cards {
        gap: 16px;
        max-width: 800px;
        width: 100%;
        scroll-behavior: smooth;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0 20px 0 20px;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

    }

    .cards::-webkit-scrollbar {
        display: none;
    }

    .main {
        padding-top: 48px;
    }
}

@media (max-width:768px) {
    .cards {
        max-width: 600px;

    }

    .main {
        padding-top: 16px;
    }
}