@import '../../styles/globalColors/color.scss';


.toggleButton {
    background-color: transparent;
    color: $info;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width:1024px) {
   
    .toggleButton {
        font-size: 18px;
    }

}

@media (max-width:768px) {
   
    .toggleButton {
        font-size: 14px;
    }

}

