.button {
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #232323;
    border:none;
    padding: 20px;
    width: 100%;
    
}

.button:active,
.button:hover {
    background-color: #3b8c75;
}


.small {
    border-radius: 12px;
}

.medium {
    border-radius: 24px;
}

.color {
    color:#FF384B;
}

.changed:hover ,
.changed:active{
    color: #FFF;
}

@media (max-width:768px){
    .button{
        font-size: 14px;
    }
}