.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}