.drpButton {
  font-size: 24px;
  display: flex;
  color:#2bd9a8;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
}

.dropContent {
  background-color: #232323;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  margin-left: 50px;
  padding: 12px 24px;
  max-width: 326px;
  width: 100%;
  position: absolute;
}

.dropContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lableWrapper {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.radioStyler {
  cursor: pointer;
  width: 24px;
}

.span {
  font-size: 24px;
}

@media (max-width: 1024px) {
  .drpButton {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .drpButton {
    font-size: 16px;
    font-weight: 400;
  }
  .dropContent {
    right: 10px;
  }
}
