@import '../../styles/GlobalBorders/borders.scss';
@import '../../styles/GlobalColors/color.scss';



.drpButton {
    font-size: 24px;
    color: $info;
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
    
}

.dropContent {
    background-color: $dark3;
    padding: $large;
    border-radius: $small;
    color: #FFF;
    margin-left:50px;
    padding: 12px 24px;
    width: 326px;
    
    display: inline-block;
    position: absolute;

}

.dropContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    
}
.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
  
.lableWrapper {
    display: flex;
    gap:8px;
    cursor: pointer;
}
.radioStyler {
    cursor: pointer;
    width: 24px;
}
.span {
   font-size: 24px;
}
 


    


  
