.table{
    position: static;
    padding-left: 24px;
    padding-right: 24px;
   
}

.main{
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 100%;
}

.card {
    padding-left: 24px;
    padding-right: 24px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}