.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    padding: 60px 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;


}

