@import "../../styles/globalColors/color.scss";
@import "../../styles/globalBorders/borders.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 32px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
  justify-content: center;
}

.image {
  border-radius: $medium;
}

.infoContainer {
  display: flex;

  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.upload {
  border: 0.797px solid #fff;
  width: 240px;
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadImage {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.uploader[type="file"] {
  display: none;
}

.label {
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.input {
  background-color: $dark3;
  border-radius: $small;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px;
  width: 240px;
  height: 41px;
  outline: none;
  border: none;
  margin-bottom: 24px;

  &::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
  }
}

.submit {
  width: 240px;
  padding: 16px 8px;
  border-radius: 24px;
  background: #fff;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.errorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.errorMessage {
  color: $error;
  font-size: 14px;
  font-weight: 500;
}

.error {
  border: 1px solid $error;
}

@media (max-width: 768px) {
  .upload {
    width: 122px;
    height: 88px;
  }

  .input {
    width: 152px;
    font-size: 10px;
  }

  .submit {
    font-size: 14px;
    width: 152px;
    padding: 8px;
  }

  .main {
    padding-top: 16px;
    gap: 16px;
  }

  .errorMessage {
    display: none;
  }

  .uploadImage {
    font-size: 10px;
  }
}
