@import '../../styles/globalColors/color.scss';
@import '../../styles/globalBorders/borders.scss';


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;


}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
    justify-content: center;
}

.image {
    border-radius: $medium;
}

.infoContainer {
    display: flex;

    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.upload {
    border: 0.797px solid #FFF;
    width: 240px;
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadImage {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.uploader[type="file"] {
    display: none;
}

.label {
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.input {
    background-color: $dark3;
    border-radius: $small;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px;
    width: 240px;
    height: 41px;
    outline: none;
    border: none;

    &::placeholder {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #FFF;
    }
}

.submit {
    width: 240px;
    padding: 16px 8px;
    border-radius: 24px;
    background: #FFF;
    color: #0D0D0D;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.errorMessage {
    color: $error;
    font-size: 14px;
    font-weight: 500;
}

.error {
    border: 1px solid $error;
}



@media(max-width:768px) {
    .upload {
        width: 122px;
        height: 88px;
    }

    .input {
        width: 152px;
        font-size: 10px;
    }

    .submit {
        font-size: 14px;
        width: 152px;
        padding: 8px;
    }

    .main {
        padding-top: 16px;
        gap: 16px;
    }

    .errorMessage {
        display: none;
    }

    .uploadImage {
        font-size: 10px;
    }


}