@import '../../styles/globalColors/color.scss';

.text {
    color: $dark4;
    font-size: 24px;
    font-weight: 500;
}

@media (max-width:1024px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width:768px){
    .text{
        font-size: 12px;
        font-weight: 400;
    }
}